[user]
    # Fallback user (optional, can be omitted if all repos are covered)
	email = ZeroTrust@NSHkr.com
	name = NSHkr

[includeIf "gitdir:**/p/g/n/**"]
    path = ~/.config/gitconfig/.gitconfig-nshkrdotcom
[includeIf "gitdir:**/p/g/v/**"]
    path = ~/.config/gitconfig/.gitconfig-vibecd
[includeIf "gitdir:**/p/g/g/**"]
    path = ~/.config/gitconfig/.gitconfig-gtcode
[includeIf "gitdir:**/p/g/f/**"]
    path = ~/.config/gitconfig/.gitconfig-factory